body {
    text-align: center;
}
.gameBoard {
    height: 350px;
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
    
}
div {
    border: 5px solid black;
    height: 100px;
    width: 100px;
    font-size: 90px;
    background-color: aquamarine;
}
.r1 {
    color: blueviolet;
}
.r2 {
    color: teal;
}
.r3 {
    color: blue;
}

.c1 {
    text-decoration: overline;
}
.c2 {
    text-decoration: line-through;
}
.c3 {
    text-decoration: underline;
}
.d1 {
    font-size: 50px;
}
.d2 {
    background-color: red
}
